<ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
    <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  data-menu-submenu-toggle="click" aria-haspopup="true">
        <a  href="#" class="m-menu__link m-menu__toggle">
            <span class="m-menu__item-here"></span>
            <span class="m-menu__link-text">
                Explorar
            </span>
        </a>
    </li>
    <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  data-menu-submenu-toggle="click" aria-haspopup="true">
        <a  href="#" class="m-menu__link m-menu__toggle">
            <span class="m-menu__item-here"></span>
            <span class="m-menu__link-text">
                Tus actividades
            </span>
        </a>
    </li>
    <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  data-menu-submenu-toggle="click" aria-haspopup="true">
        <a  href="#" class="m-menu__link m-menu__toggle">
            <span class="m-menu__item-here"></span>
            <span class="m-menu__link-text">
                Nueva actividad
            </span>
        </a>
    </li>
</ul>